{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    </head>
    <body>
      <header>
        <div>
                <div>
                    <h1>Vos produits favoris</h1>
                </div>
        </div>
    </header>
    <section>
    <img src="https://cdn-assets-cloud.frontify.com/s3/frontify-cloud-files-us/eyJwYXRoIjoiZnJvbnRpZnlcL2FjY291bnRzXC9hN1wvODI0MzVcL3Byb2plY3RzXC8xMTM5MDRcL2Fzc2V0c1wvZmRcLzExMTA0MjRcL2M0NzdmMWRjNTcwYmRiMmVjMGRlMjhjZDE4NzVhMDI1LTE0Nzc1NzMzNjYucG5nIn0:cloud:ImMkg2ihzHqyAlmUfSuFOhZQdCa9RTUA0lD9FBU6zqk?width=200">
    <div>
      <div>
        <p>Voici la liste de vos produits favoris:<br></p><br>
      </div>
        <div>
            {% for element in user_favourites %}
            <div>
              <p>{{element.name}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    </section>
    <footer>
      <p>Nos produits sont régulièrement mis à jour.</p>
      <p>N'hésitez pas à revenir sur notre site pour en découvrir d'autres</p>
    </footer>
    </body>
</html>
